<ul class="pagination">
    {% if page_obj.has_previous %}
        {% if page_obj.number|add:'-3' > 1 %}
            <li class="pagination__item">
            <!-- In all our pagination links we need to specify the get-params, because user can change page, but
             before this, he some filtering params were selected by him. So, if we do not do this, all params will be cleaned, or
             we will se the error page.
             In our views for filtering and making search by movie_name we overwrite the get_contex_data, where we add
             some new keys:
                - movie_name_for_linking - (from SearchView) - movie title as get-param format - string;
                - genres_for_linking - (from MoviesListView) - string which contains all selected by user genres which are
                  represented as get-params;
                - years_for_linking - (from MoviesListView) - string which contains all selected by user years which are
                represented as get-params.

             If in context of current template Django won't see current params (one of them or all), nothing will be
             added into links, and we won't see any errors:
             -->
                <a href="?{{ movie_name_for_linking }}{{ genres_for_linking }}{{ years_for_linking }}page=1">1</a>
            </li>
        {% endif %}
        {% if page_obj.number|add:'-3' >= 3 %}
            <li class="pagination__item pagination__item--dots">
                    <a href="?{{ movie_name_for_linking }}{{ genres_for_linking }}{{ years_for_linkig }}page={{ page_obj.previous_page_number|add:'-3' }}">
                <span class="pagination__link">• • •</span>
                </a>
            </li>
        {% endif %}
    {% endif %}
    {% if paginator.page_range|length > 1 %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="pagination__item active">
                    <a class="pagination__link" href="#">{{ i }}</a>
                </li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="pagination__item">
                        <a class="pagination__link" href="?{{ movie_name_for_link }}{{ genres_for_linking }}{{ years_for_linking }}page={{ i }}">{{ i }}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if page_obj.has_next %}
        {% if page_obj.number|add:'4' < page_obj.paginator.num_pages %}
            <li class="pagination__item pagination__item--dots">
                    <a href="?{{ movie_name_for_link }}{{ genres_for_linking }}{{ years_for_linking }}page={{ page_obj.next_page_number|add:'3' }}">
                <span class="pagination__link">• • •</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.number|add:'3' < page_obj.paginator.num_pages %}
            <li class="pagination__item">
                    <a class="pagination__link" href="?{{ movie_name_for_link }}{{ genres_for_linking }}{{ years_for_linking }}page={{ page_obj.paginator.num_pages }}">
                        {{ page_obj.paginator.num_pages }}
                    </a>
            </li>
        {% endif %}
    {% endif %}
</ul>