{% extends 'movies/base.html' %}
{% load static %}

{% block title %} {{ movie.title }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block movie %}
    <div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent" style="outline: none; cursor: inherit;">
                    {{ movie.title }}
                </h3>
                <h5 class="editContent"></h5>
                <ul>
                    <li style="list-style: none"><span><b>Год:</b> {{ movie.year }}</span></li>
                    <li style="list-style: none"><span><b>Страна:</b> {{ movie.country }}</span>
                    </li>
                    <li style="list-style: none"><span><b>Слоган:</b> {{ movie.tagline }}</span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Режиссер:</b>
                                        <!-- Because our movie directors, genres and actors are many_to_many relationship,
                                            we need to get them with FOR loop!
                                            When we use M2M relationship django automatically creates the new special table
                                            with name <project_baseTable_relatedTable>'
                                         --->
                                        {% for director in movie.directors.all %}
                                            <a href="{{ director.get_absolute_url }}"> {{ director.name }} </a>
                                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Актеры:</b>
                                        {% for actor in movie.actors.all %}
                                            <a href="{{ actor.get_absolute_url }}"> {{ actor.name }} </a>
                                        {% endfor %}
                                </span>
                    </li>
                    <li style="list-style: none">
                                    <span><b>Жанр:</b>
                                        {% for genre in movie.genres.all %}
                                            {{ genre.name }}
                                        {% endfor %}
                                    </span>
                    </li>
                    <li style="list-style: none"><span><b>Премьера в мире:</b> {{ movie.world_premier }}</span>
                    </li>
                    <li style="list-style: none">
                        <span><b>Бюджет:</b> ${{ movie.budget }}</span></li>
                    <li style="list-style: none">
                        <span><b>Сборы в США:</b> ${{ movie.fees_in_usa }}</span></li>
                    <li style="list-style: none"><span><b>Сборы в мире:</b> ${{ movie.fees_in_world }}</span>
                    </li>
                    <li>
                        <form method="post" action="{% url 'add_rating' %}" name="rating">
                            <!-- It is necessary to use csrf_token in django-post-forms -->
                            {% csrf_token %}
                            <b>Рейтинг:</b>
                            <!-- Our hidden input-fields which we need to add new Rating object but user should not know about them -->
                            <input type="hidden" value="{{ request.path }}" name="next">
                            <input type="hidden" value="{{ movie.id }}" name="movie">

                            <span class="rating">
                                {% for key, value in rating_form.fields.star.choices %}
                                    <input id="rating{{ value }}" type="radio" name="star" value="{{ key }}">
                                    <label for="rating{{ value }}">{{ key }}</label>
                                {% endfor %}
                            </span>

                        </form>
                    </li>
                </ul>
                    <div class="share-desc">
                        <div class="share">
                            <h4 class="editContent"
                                style="outline: none; cursor: inherit;">
                                Share:</h4>
                            <ul class="w3layouts_social_list list-unstyled">
                                <li>
                                    <a href="#" class="w3pvt_facebook editContent"
                                       style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_twitter editContent"
                                       style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="w3pvt_dribble editContent"
                                       style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">

            <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                О фильме {{ movie.title }}</h3>
            <p>
                <!--
                Here we use the FOR loop with object which we get with related model through base mode with _set
                (it's the default related_name by django).

                We can do this, because our MovieShorts model has the ForeignKey field to model movie. That is why we
                have an opportunity to get all MoveShorts objects with use our movie object which are know about their
                MovieShorts
                -->
                {% for movie_shot in movie.movieshots_set.all %}
                    <img src="{{ movie_shot.image.url }}" class="img-movie-shots" alt="{{ movie_shot.description }}">
                {% endfor %}

            </p>
            <p class="editContent" style="outline: none; cursor: inherit;">
                <!-- We use filter safe, because in our django-admin panel with ckeditor we can apply differt styles for text.
                All such styles will be added as html tags our styles. Django by default make all html tags like simple strings,
                but with |safe attribute we can decline such behaviour.
                -->
                {{ movie.description|safe }}
            </p>
            {#            <p class="mt-3 italic-blue editContent"#}
            {#               style="outline: none; cursor: inherit;">#}
            {#                <iframe width="560" height="315"#}
            {#                        src="https://www.youtube.com/embed/A36LahZNUiE?controls=0"#}
            {#                        frameborder="0" allow="accelerometer; autoplay;#}
            {#                                                                           encrypted-media; gyroscope; picture-in-picture"#}
            {#                        allowfullscreen>#}
            {##}
            {#                </iframe>#}
            {#            </p>#}
        </div>
        <hr>
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
                <div class="contact-single">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                        <!-- With using relatingName by default through the movie object we can get the count of all reviews -->
                        <span class="sub-tittle editContent">{{ movie.reviews_set.count }}</span> Оставить отзыв</h3>
                    <form action="{% url 'add_review' pk=movie.pk %}" method="post" class="mt-4" id="formReview">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        <div class="form-group editContent">
                            <label for="contactcomment" class="editContent">
                                Ваш комментарий *
                            </label>
                            {{ review_form.text }}
                        </div>
                        <div class="d-sm-flex">
                            <div class="col-sm-6 form-group p-0 editContent">
                                <label for="contactusername" class="editContent">
                                    Имя *
                                </label>
                                {{ review_form.name }}
                            </div>
                            <div class="col-sm-6 form-group ml-sm-3 editContent">
                                <label for="contactemail" class="editContent">
                                    Email *
                                </label>
                                {{ review_form.email }}
                            </div>
                            {{ review_form.captcha }}
                        </div>
                        <button type="submit"
                                class="mt-3 btn btn-success btn-block py-3">
                            Отправить
                        </button>
                    </form>
                </div>
                <!--  //contact form grid ends here -->
            </div>
        </div>
        {% for review in movie.get_review %}
            <div class="media py-5">
                <img src="{% static 'images/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    <!-- When we use tag <a> with href where we specify the element ID
                    we can move our user to the element with such id -->
                    <a href="#formReview" onclick="addReview('{{ review.name }}', '{{ review.pk }}')"> Ответить </a>

                    <!-- In current loop we are getting all reviews for current/parent review -->
                    {% for rew in review.reviews_set.all %}
                        <div class="media mt-5 editContent">
                            <a class="pr-3" href="#">
                                <img src="{% static 'images/te2.jpg' %}" class="img-fluid "
                                     alt="image" style="outline: none; cursor: inherit;">
                            </a>
                            <div class="media-body">
                                <h5 class="mt-0 editContent">{{ rew.name }}</h5>
                                <p class="mt-2 editContent"> {{ rew.text }} </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>
    <script>
        // In this function, when we click on our a-href, we need to insert ID of parent review into the hidden input in
        // our review form, and review name will be inserted into text-field
        function addReview(reviewName, reviewPk) {
            // Insert the review pk value into the hidden input in form:
            document.getElementById('contactparent').value = reviewPk;
            document.getElementById('contactcomment').innerText = `${reviewName}, `
        }
    </script>

{% endblock movie %}
